body{
    margin:0;
    padding:0;
    background: url(images/h1.jpg);  
    background-size: cover;
    background-position:bottom;
    height: 100vh;
    font-family:'poppins',sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family:'Poppins', sans-serif;
    background-color:rgba(0,0,0,0.02);   
}
.head{
    color:white;
    text-transform:uppercase;
    letter-spacing: 4px;
    font-size: 20px;
    margin-right: 50px;
}
.head a{
    color:white;
    letter-spacing: 4px;
    font-size: 40px;
}
.nav-links{
    display: flex;
    margin-left: 8%;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
    list-style-type: none;
}
.nav-links a{
    color:white;
    text-decoration: none;
    letter-spacing: 1px;
    padding-left:10px;
    padding-right:10px;
    padding-top:6px;
    padding-bottom:6px;
    font-size: 15px;
    border-radius: 17px;
    margin-left: 20px;
    text-align: center;
}
.nav-links a:hover{
  
    border: 1.5px solid #C418BF;
    transition: 0.1s;
    color:#C418BF
}
.nav-links li:hover >ul
{
    margin-top: 5px;
    display: block;
    transition: 0.01s;
}
.nav-links li ul{
    display: none;
    padding: 0;
    margin: -10px;
    list-style-type:none;
    position: absolute;
    top:55px;
    justify-content: space-between;
    max-height: 0;
}

.nav-links li ul li a{
    letter-spacing: 1px;
    
    font-size: 15px;
    background-color:rgba(0, 0,0,0.002);
    display:inline-block;
    padding:6px;
    text-align: center;
    color:white;
    width: 100%;
    text-decoration:none;
}

/*.logo{
    width:125px;
    height:125px;
    position:absolute;
   padding:10px 10px;

}*/
.loginbox
{
    box-shadow: 1px 1px 20px 2px rgb(25, 15, 35), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
   border-radius:5px;
    width:520px;
    height:400px;
    background:url(images/4330.gif);
    color:black;
    bottom: 34.5%;
    left:12%;
    position:absolute;
    transform:translate(47.3%,50%);
    box-sizing:border-box;
    padding:10px 50px;
}

h1{
   margin-top: 20px;;
    padding: 0; 
    color: #C70039;
    text-align:left;
    font-size:25px;
    font-family:'Poppins', sans-serif;
}
.loginbox input{
    width:100%;
    padding:3px;
    margin-bottom:10px;
    font-family:'Poppins', sans-serif;
    color:black;
}
.loginbox input[type="text"]
{
    border:none;
    border-left:3px solid #C70039 ;
    background:rgba(40, 46, 46, 0.89);
    outline: none;
    height: 30px;
    font-size: 16px;
   
    color: white;
}
.loginbox input[type="password"]
{
    border:none;
    border-left:3px solid #C70039 ;
    background:rgba(40, 46, 46, 0.89);
    outline: none;
    height: 30px;
    font-size: 16px;
    box-shadow: 1px 1px 20px 2px rgb(25, 15, 35), 0 6px 20px 0 rgba(0, 0, 0, 0.19);     

    color:white;
}

.loginbox input[type="email"]
{
    border:none;
    border-left:3px solid #C70039 ;
    background:rgba(40, 46, 46, 0.89);
    outline: none;
    height: 30px;
    font-size: 16px;
   
    color: white;
}
.loginbox textarea{
    border:none;
    border-left:3px solid #C70039 ;
    background:rgba(40, 46, 46, 0.89);
    outline: none;
    height: 90px;
    font-size: 16px;
    font-family:'Poppins', sans-serif;
    color: white;
}

.loginbox input[type="tel"]
{
    border:none;
    border-left:4px solid #C70039 ;
    background:rgba(40, 46, 46, 0.89);
    outline:none;
    height:30px;
 
    font-size:16px;
    color: white;
}

.loginbox input[type="submit"]
{
    width:30%;
    border:none;
    outline:none;
    height:40px;
    color:white;
    background:#C70039;
    font-size:13px;
    border-radius:20px;
    margin-top: 20px;
    margin-left:72%;

}
.loginbox input[type="submit"]:hover
{
    cursor:pointer;
    background:#ffc107;
    color:#000;
    transition: 0.3s;
    
}

.bg3
{   
    
    width:600px;
    height:350px;
    background:rgba(0,0,0,0.02) ;
    background-color:whitesmoke;
    color:black;
    bottom:34.5%;
    left:7%;
   
    position:absolute;
    transform:translate(50%,50%);
    box-sizing:border-box;
    padding-top:50px;
    box-shadow: 2px 4px 10px 1px rgb(8, 8, 10), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   border-radius:5px;
}

.bg3 a{

     margin: 40px 50px;
     padding: 0;
     font-size:55px;
     font-family:'Poppins', sans-serif;
    
 }
 .bg3 p{
    margin: 10px 50px;
     padding: 0;
     font-size: 17px;
     font-family:'Poppins', sans-serif;
}
::placeholder{
    color:rgba(176, 176, 176, 0.89);
    font-size: 14px;
}
 @media screen and (max-width:1024px)
 {
     .loginbox{
        width:32px;
     }
 }
 .side a{
    color:white;
    text-decoration: none;
    letter-spacing: 1px;
    padding-left:10px;
    padding-right:10px;
    padding-top:6px;
    padding-bottom:6px;
    font-size: 15px;
    border-radius: 12px;
   
    text-align: center;
}
.side a:hover{
    color:#2A2948;
}

 
   #sidebar{
       margin-top: 40px;
    position: absolute;
    width: 250px;
    height: 534px;
    background: #2A2948 ;
    left: -250px;
    top:12.7%;
    border-radius: 5px;
    transition: all 250ms linear;
    box-shadow: 0 4px 8px 0 rgba(61, 58, 65, 0.2), 0 6px 20px 0 rgba(73, 70, 70, 0.19);
   }
   #sidebar.active{
    left:0px;
    
   }
  #sidebar ul li{
    letter-spacing: 1px;
    
    font-size: 15px;
    background-color:rgba(0, 0,0,0.02);
    display:inline-block;
    padding:10px;
    text-align: center;
    color:white;
    width: 100%;
    text-decoration:none;
    margin-left: -17%;
   } 
   #sidebar ul li:hover{
       background:white;
       transition: 0.4s;
       color:#C70039;
       border-radius: 7px;
       box-shadow: 0 4px 8px 0 rgba(93, 12, 185, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   }
   #sidebar .toggle-btn{
    position: absolute;
    left: 330px;
    top: 20px;
   }
   #sidebar .toggle-btn span{
    display: block;
    width: 30px;
    height: 5px;
    background: white;
    margin: 5px 0px;
   }
  .wel
  {
      margin: 0;
      padding: 20px  50px ;
      color: white;
      background: #696594 ;
      font-size: 27px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      box-shadow: 0 4px 8px 0 rgba(76, 75, 78, 0.13), 0 6px 20px 0 rgba(92, 86, 86, 0.14);
}



